<div class="footer">
    <div class="footer3" layout="row">
        <div>
            <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}">

                <div class="logo3">
                    <img src="assets/images/logo3.png" alt="image caption" flex width="410" flex height="400" />

                </div>
                </md-card-content>
            </md-card>
        </div>
        <div>
            <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}">
                <div class="logo2">
                    <img src="assets/images/logo2.png" alt="image caption" flex width="410" flex height="400" />

                </div>
            </md-card>
        </div>
        <div>
            <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}">
                <div class="logo4">
                    <!--<p><pre> 
                        Kartable 
                        A propos Devenez
                        contributeur 
                        Recrutement 
                        Contact
                        </pre>
                    </p>-->
                </div>
            </md-card>
        </div>
    </div>

    <div class="footer2">
        <h1>
            <marquee> <strong style="color:#FFFFFF" ;> 4 cent 4 Sarl</strong> </marquee>
        </h1>
    </div>
</div>