<div class="footer">
       <div layout="row">
           <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores molestias laudantium animi temporibus quos reprehenderit aliquam praesentium qui expedita fuga eaque dolore in, ratione odit minima pariatur nam ea. </div>
           <div>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vitae culpa obcaecati dolorem minus, pariatur, atque nulla eius suscipit repellendus labore, quis consequatur, ab harum. Dicta cupiditate, molestias veritatis expedita.
           </div>
           <div>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vitae culpa obcaecati dolorem minus, pariatur, atque nulla eius suscipit repellendus labore, quis consequatur, ab harum. Dicta cupiditate, molestias veritatis expedita.
           </div>
       </div>
       <div></div>
</div>