ul li{
  list-style: none;
}
.list{
    background-color: #3F51B5;
    opacity: 0.8;
    margin-top: 60px;
    height: 60px;
}

.listMobile {
  margin-top: 30px;
  border-radius: 8px;
}


/*.carddemoBasicUsage .card-media {
  background-color: #999999; 
  }*/
  .intro{
    margin-top: -17px;
    height: 450px;
  }

  .mdcard1{
    margin-right: -8px;
    height: 300px;
  }
  .mdcard2{
    height: 300px;
  }


  .md-headline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    
  }

  .inter {
    background-color: transparent;
    width: 100%;
  }

  .navbar2 {

  }

  .fixe {
    border-bottom: solid white 1px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #bt {
    display: inline-block;
    border-radius: 8px;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  #bt:hover {
    border-bottom: solid white 1px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #select {
    border: solid white 1px;
    border-radius: 8px;
    background-color: white;
  }

  #dropdown {
    background-color: #3F51B5;
    border-radius: 8px;
    margin: 0;
    padding: 0;
  }

  #dropdown a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }

  #dropdown a:hover {
    color: gray;
  }

  #dropdown li {
    list-style: none;
  }

  #dropdown li:not(.active) {
    display: none;
  }

  #dropdown li.active a {
    text-align: center;
    width: 200px;
    height: 30px;
    display: inline-block;
    border: solid white 2px;
    border-radius: 35px;
    padding: 8;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease-in-out;


  }
  #dropdown li.active:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }



.lesClasses {

    }
