  <div ng-include="'components/navbar/navbar.html'"></div>
  <!--<div ng-include="'components/shell/shell.html'"></div>-->

<div class="container">
    <div  class="list" hide show-gt-md show-md>
  
      <ul layout="row"  layout-align="center strech" layout-padding ="5">
          <li>
              <md-button ng-href="/eleve">Elèves</md-button>
          </li>
          <li>
              <md-button ng-href="/parents" >Parents</md-button>
          </li>
          <li>
              <md-button ng-href="/enseignant" >Enseignants de l'Education Nationale</md-button>
          </li>
          <li>
              <md-button ng-href="/professeur" >Professeur particulier</md-button>
          </li>
      </ul>
    
    </div>
    <div layout="column" layout-align="center center" style="padding:40px" ng-cloak hide show-sm show-xs>
    <div layout="column" layout-align="center center">
        <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
        </md-select>
        <p class="md-caption">You have assigned the task to: {{ user ? user.name : 'No one yet' }}</p>
    </div>
    </div>
        <h1>
            Boostez vos notes comme 1 million d’élèves.
        </h1>

        <!--<div class="selectionLevels not_mobile">
                    <h2>Découvrez Kartable avant de vous inscrire</h2>
                                            <a class="level" href="/sixieme">6e</a>
                                            <a class="level" href="/cinquieme">5e</a>
                                            <a class="level" href="/quatrieme">4e</a>
                                            <a class="level" href="/troisieme">3e</a>
                                            <a class="level" href="/seconde">2nde</a>
                                            <a class="level" href="/premiere-s">1S</a>
                                            <a class="level" href="/premiere-es">1ES</a>
                                            <a class="level" href="/premiere-l">1L</a>
                                            <a class="level" href="/terminale-s">TS</a>
                                            <a class="level" href="/terminale-es">TES</a>
                                            <a class="level" href="/terminale-l">TL</a>
         </div>

        <div id="quickSignUp">
                    <h2>Accédez gratuitement aux cours</h2>
                    <div class="container_form">
                        <form class="sign_up_form">
                            <div class="form_row">
                                <div class="form_collapse">
                                    <input class="form_input" type="text" placeholder="Adresse email" />
                                    <button type="submit" >S'inscrire</button>
                                </div>
                            </div>
                             <span>
                                    En vous inscrivant, vous autorisez Kartable à vous envoyer ses communications par email.
                                </span>
                        </form>
                        <div class="form_divider">ou</div>
                        <a class="connect_with_facebook">S'inscrire avec Facebook</a>
                    </div>
        </div>-->

    <div layout="row" layout-align="center center">
    <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch  layout-align="center center">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Découvrez Kartable avant de vous inscrire</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media">
            <md-button class='md-raised' ng-href="/sixieme">6</md-button>
             <md-button class='md-raised' ng-href="/sixieme">6</md-button>
              <md-button class='md-raised' ng-href="/sixieme">6</md-button>
               <md-button class='md-raised' ng-href="/sixieme">6</md-button>
                <md-button class='md-raised' ng-href="/sixieme">6</md-button>
    
          </div>
        </md-card-content>
    </md-card>
    
     <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Accédez gratuitement aux cours</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" >
                <md-input-container >
                    <label>Client Email</label>
                    <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                          
                        

                    <div ng-messages="projectForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                    </div>
                </md-input-container><md-button class="md-raised md-warn">s'inscrire</md-button>

            </div>
            <div >
                <p><md-button class="md-raised md-primary">s'inscrire avec facebook</md-button></p>
            </div>
        </md-card-content>
    </md-card>
    
    </div>
    <div class="inter">
        <section class="catalog" layout layout-wrap layout-align="center">
    <md-card flex="22" flex-sm="46" flex-xs="80" ng-class="{shaded:$mdMedia('xs') }">
         <md-card-title>
          <md-card-title-text>
            <h1 class="md-headline">Accédez gratuitement aux cours</h1>
          </md-card-title-text>
        </md-card-title>
      <md-card-content layout="row">
        <img src="https://assets.kartable.fr/20161216153757/bundles/kartablecore/img/feature.png?1481899149"></img>
        <span></span>
        <div layout="column">
            <p>
                <h2> J'apprends </h2>
                Accédez rapidement à tous les cours depuis une interface claire. Tout est complet et parfaitement structuré.
            </p>
            <p>
                <h2> Je m’entraîne  </h2> 
                Assimilez toutes les notions des programmes à l’aide de 50 000 exercices corrigés. Plus aucune surprise lors des contrôles.

            </p>
            <p>
                <h2> Je m’évalue </h2> 
                Validez vos acquis et découvrez votre classement par rapport aux autres élèves. Un seul objectif : récolter le plus de badges possibles.
            </p>
        </div>
      </md-card-content>
      <md-card-footer-text layout="column">
        <span class="md-title">{{it.title}} </span>
        <span class="md-subhead">{{it.price}}</span>
      </md-card-footer-text>
    </md-card>
  </section>
    </div>
</div>


<div ng-include="'components/footer/footer.html'"></div>




  

