<div class="navbar2">
    <div class="list" hide show-gt-md show-md>
        <ul layout="row" layout-align="center strech" layout-padding="5">
            <li>
                <md-button ng-href="/eleve" id="bt" class="fixe">Elèves</md-button>
            </li>
            <li>
                <md-button ng-href="/parents" id="bt">Parents</md-button>
            </li>
            <li>
                <md-button ng-href="/enseignant" id="bt">Enseignants de l'Education Nationale</md-button>
            </li>
            <li>
                <md-button ng-href="/professeur" id="bt">Professeur particulier</md-button>
            </li>
        </ul>
    </div>
    <div class="listMobile" layout="column" layout-align="center center" style="padding:40px" ng-cloak hide show-sm show-xs>
        <div layout="column" layout-align="center center">

            <ul id="dropdown" ng-click="ok">

                <li class="active"><a href="#">Elèves</a></li>
                <div ng-show="ok">
                    <li><a href="#">Parents</a></li>
                    <li><a href="#">Enseignants</a></li>
                    <li><a href="#">Professeurs</a></li>
                </div>
            </ul>
            <!--<md-select>
                <md-option nvalue="Elèves">Elèves</md-option>
                <md-option nvalue="Parents">Parents</md-option>
                <md-option nvalue="Enseignants">Enseignants</md-option>
                <md-option nvalue="Professeurs">Professeurs</md-option>
            </md-select>-->
        </div>
    </div>

</div>

<div class="intro">
    <div layout="column" layout-align="center center">
        <h1 style="color: black; opacity: 0.9; margin-top: 70px; ">
            Boostez vos notes comme 1 million d’élèves.
        </h1>
        <div layout="row" layout-align="center center">
            <md-card class="mdcard1" flex="35" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch layout-align="center center">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Découvrez Kartable avant de vous inscrire</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="row" layout-align="space-between center">
                    <!--<div class="lesClasses" layout-align="center center">

                        <md-button ng-repeat="classe in listClasse" class='md-raised' ng-href="classe/{{classe.libelle}}">{{classe.abrv}}</md-button>

                    </div>-->

                    <div ng-cloak>
                        <md-content class="lesCycles">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Primaire">
                                    <md-content class="md-padding">
                                        <md-button ng-repeat="classe in listClasse" class='md-raised' ng-href="classe/{{classe.label}}">{{classe.abrv}}</md-button>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Secondaire">
                                    <md-content class="md-padding">
                                        <md-button ng-repeat="classe in listClasse" class='md-raised' ng-href="classe/{{classe.label}}">{{classe.abrv}}</md-button>                                    </md-content>
                                </md-tab>
                                <md-tab label="Enseignement superieur">
                                    <md-content class="md-padding">
                                        <md-button ng-repeat="classe in listClasse" class='md-raised' ng-href="classe/{{classe.label}}">{{classe.abrv}}</md-button>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>

                </md-card-content>
            </md-card>

            <md-card class="mdcard2" flex="40" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch layout-align="center center">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Accédez gratuitement aux cours</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container>
                        <label>Client Email</label>
                        <input required type="email" name="clientEmail" ng-model="project.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                        />
                        <div ng-messages="projectForm.clientEmail.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-button class="md-raised md-warn">s'inscrire</md-button>

                    <div>
                        <md-button class="md-raised md-primary">s'inscrire avec facebook</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>

<div class="inter">
    <section class="catalog" layout layout-wrap layout-align="center">
        <md-card flex="22" flex-sm="46" flex-xs="80" ng-class="{shaded:$mdMedia('xs') }">
            <md-card-title>
                <md-card-title-text>
                    <h1 class="md-headline">Accédez gratuitement aux cours</h1>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row">
                <img src="https://assets.kartable.fr/20161216153757/bundles/kartablecore/img/feature.png?1481899149">
                <span></span>
                <div layout="column">
                    <p>
                        <h2> J'apprends </h2>
                        Accédez rapidement à tous les cours depuis une interface claire. Tout est complet et parfaitement structuré.
                    </p>
                    <p>
                        <h2> Je m’entraîne </h2>
                        Assimilez toutes les notions des programmes à l’aide de 50 000 exercices corrigés. Plus aucune surprise lors des contrôles.

                    </p>
                    <p>
                        <h2> Je m’évalue </h2>
                        Validez vos acquis et découvrez votre classement par rapport aux autres élèves. Un seul objectif : récolter le plus de badges
                        possibles.
                    </p>
                </div>
            </md-card-content>
        </md-card>
    </section>
</div>


<div ng-include="'components/footer/footer.html'">
