.palette {
    margin-top: 64px;
    height:100%;
    width: 100%;
}

.haut {

}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
  }

  .md-hue-2 {
    /*width: 100%;*/
  }
  .contentHaut {
      width: 100%;
      height: 40px;
  }

  .md-toolbar-tools {
      width: 100%;
      height: 40px;

  }

  .gauche {
      position: absolute;
      float: left;
      width: 25%;
  }


  .contenuGauche li a img {
      display: inline-block;
      width: 50px;
      height: 70px;
  }

  .corps {
      /*margin: 0 auto;*/
      margin-top: -200px;
      margin-left: 400px;
  }

  .contenuCorps li {
      display: inline-block;
      margin-left: 50px;
      margin: 0 auto;
  }

  .contenuCorps li a img {
        border-radius: 8px;
        width: 100px;
        height: 100px;
        transition: all 1.2s ease-in-out;
  }

   .contenuCorps li a img:hover {
        border-radius: 10px;
        width: 120px;
        height: 120px;
  }


/* accordeon pour kain */
.md-accordion .expandCollapse {
  width:30px;
  height:30px;
  position:relative;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  color:#fff;
  display:block;
  margin-top: -2px;
  margin-left: -2px;
  overflow:hidden;
}
.md-accordion .expandCollapse:active {
  border:0px;
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:30px;
  height:30px;
  display:block;
  position:absolute;
  top:0; left:0;
  line-height:32px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before {
  opacity:1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top:-3px;
}
.md-accordion .expandCollapse:after {
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left:-3px;
}
.md-accordion .active:before {
  opacity:1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:3px;
  margin-top:0px;
}

.md-accordion .dataContent {
  background: #F2F2F2;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height:auto;
  padding:20px;
  display:block;
}

.md-accordion md-toolbar{
  cursor:pointer;
  border-bottom:1px solid rgb(63,107,181)
}


.onglet {
  height: 100px;
  width: 200px;
}

.men-lecon {
  padding: 0 10px;
  line-height: 1.5;
  margin-bottom: 10px;
}
