<div class="palette">
  <div class="haut" ng-cloak>
    <md-content class="contentHaut">
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <span style="margin-left: 30px;">Secondaire</span>
          <span style="margin-left: 20px;">Sixième</span>
          <span style="margin-left: 20px;">Mathèmatiques</span>
        </div>
      </md-toolbar>
    </md-content>
  </div>
  <div class="gauche" ng-init="init()">
    <div class="contenuGauche">
      <md-content>
        <div class="md-accordion" ng-repeat="domaine in listDomaines">
          <md-toolbar ng-init="domaine.expanded = false" ng-click="collapseAll(domaine); domaineClick(domaine)">
            <div class="md-toolbar-tools">
              <h2>
                <span>{{domaine.libelle}} </span>
              </h2>
              <span flex=""></span>
              <span ng-class="{expandCollapse:true, active:domaine.expanded}"></span>
            </div>
          </md-toolbar>
          <div ng-class="{dataContent:true, activeContent:domaine.expanded}">
            <md-button ng-repeat="sousdomaine in listSousDomaines" class="md-raised md-warn" ng-click="sousDomaineClick(sousdomaine)" > {{sousdomaine.libelle}} </md-button>
          </div>
      </md-content>
      </div>

</div>
    <div class="corps">
      <ul class="contenuCorps">
        <li ng-repeat="matiere in listMatieres" ng-mouseover="MatiereClick(matiere)">
          <a href="#">
            <img src="../../assets/images/images.jpg" alt="img"> <br> {{matiere.libelle}}
          </a>
          <div class="chapitres">
            <li ng-repeat="chapitre in listChapitres">
             <md-button class="md-raised md-warn" ng-click="ChapitreClick(chapitre)"> {{chapitre.libelle}} </md-button>
             <div ng-repeat="lecon in listLecons" class="men-lecon">
               <div ng-if="lecon.chapitre === chapitre._id">
               {{lecon.libelle}}

               </div>
               <div ng-if="lecon.chapitre !== chapitre._id">

               </div>
             </div>
            </li>


          </div>
        </li>
      </ul>
    </div>

  </div>
  <!--
  kain
-->
