<div class="palette">
  <div class="haut" ng-cloak>
    <md-content class="contentHaut">
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <span style="margin-left: 30px;">Secondaire</span>
          <span style="margin-left: 20px;">Sixième</span>
          <span style="margin-left: 20px;">Mathèmatiques</span>
        </div>
      </md-toolbar>
    </md-content>
  </div>
  <div class="gauche">
    <div class="contenuGauche">
      <md-content>
        <div class="md-accordion" ng-repeat="data in accordianData">
          <md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">
            <div class="md-toolbar-tools">
              <h2>
                <span>{{data.heading}}</span>
              </h2>
              <span flex=""></span>
              <span ng-class="{expandCollapse:true, active:data.expanded}"></span>
            </div>
          </md-toolbar>
          <div ng-class="{dataContent:true, activeContent:data.expanded}">{{data.content}}</div>
      </md-content>
    </div>

  </div>
  <div class="corps">
        <ul class="contenuCorps">
          <li>
            <a href="#">
              <img src="../../assets/images/images.jpg" alt="img"> <br> Mathèmatiques
            </a>
          </li>
          <li>
            <a href="#">
              <img src="" alt="img"> <br> Anglais
            </a>
          </li>
          <li>
            <a href="#">
              <img src="" alt="img"> <br> Histo-Geo
            </a>
          </li>
        </ul>
  </div>

</div>
    <!--
  kain
-->